<div class="header-set">
    <div class="header-set-left">
        <div class="org-dropdown">
            <div class="dropdown">
                <button class="btn btn-org dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="icon"><i class="far fa-briefcase"></i></span> <span class="text">Select Organization</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Royal Water Pvt. LTd.</a>
                  <a class="dropdown-item" href="#">Royal Iron Pvt. LTd.</a>
                  <a class="dropdown-item" href="#">Royal Pvt. LTd.</a>
                </div>
              </div>
        </div>
    </div>
    <div class="header-set-right">
        <div class="user-set">
            <div class="user-img">
                <img src="assets/images/user.jpg" alt="">
            </div>
            <div class="user-info">
                Pavan kumar Reddy
            </div>
        </div>
    </div>
</div>