<div class="side-nav">
    <div class="side-nav-inner">
        <div class="side-nav-logo">
            <div class="logo-inner">
                <img src="assets/images/logo-nav.PNG" alt="">
            </div>
        </div>
        <div class="side-nav-area">
            <ul>
                <li (click)="navigateTo(item)"  *ngFor="let item of sidenavData; let i = index;" [ngClass]="{'active': i == 0}">
                    <span class="icon" *ngIf="i == 0"> <i class="far fa-home-lg"></i></span> 
                    <span class="icon" *ngIf="i == 1"> <i class="far fa-th-large"></i></span> 
                    <span class="icon" *ngIf="i == 2"> <i class="far fa-file-alt"></i></span> 
                    <span class="icon" *ngIf="i == 3"> <i class="far fa-user-friends"></i></span> 
                    <span class="icon" *ngIf="i == 4"> <i class="far fa-chart-bar"></i></span> 
                    <span class="icon" *ngIf="i == 5"> <i class="far fa-briefcase"></i></span> 
                    
                    <span class="text">{{item.navItem}}</span>
                </li>
            </ul>
            <div class="log-out">
                <a [routerLink]="[ '/login']"><i class="far fa-sign-out"></i> Logout</a>
            </div>
        </div>
    </div>
</div>