/*
* Font Variables
**/
base-font-size = 14px
// base-font-family = 'Roboto', sans-serif
// heading-font-family = 'Poppins', sans-serif
base-font-family = 'Poppins', sans-serif
heading-font-family = "Poppins", sans-serif;

/*
* Color Variables
**/
text-color = #171e30
white = #fff
black = #171e30
gray = #c8d0e5



// theme = #62b6fd
theme = #c9a514
secondary = #2c6c87
secondary-light = #215f7a
info = #0063f7
warning = #ffcc00
disabled-text = #a5b2d4
danger = #ff3b3b
sucess= #06c2701
danger-light= #ffd6d6
main-bg=#f8f9fc

