
<div class="page-wrapper">
<app-side-nav></app-side-nav>
    <div class="main-content">
        <app-header></app-header>
        <div class="row">
            <div class="col-md-12">
                <div class="title-text">
                    Dashboard
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="content-set">
                            <div class="content-icon cash">
                                <i class="fas fa-rupee-sign"></i>
                            </div>
                            <div class="content-info">
                                <div class="content-title">
                                    Cash
                                </div>
                                <div class="content-main">
                                    <i class="fas fa-rupee-sign"></i> 2,26,65,5589
                                </div>
                            </div>
                        </div>
                        <div class="content-set">
                            <div class="content-icon credit">
                                <i class="fas fa-ticket-alt"></i>
                            </div>
                            <div class="content-info">
                                <div class="content-title">
                                    Credit
                                </div>
                                <div class="content-main">
                                    <i class="fas fa-rupee-sign"></i> 7,45,156
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="content-set">
                            <div class="content-icon purchase">
                                <i class="fas fa-ticket-alt"></i>
                            </div>
                            <div class="content-info">
                                <div class="content-title">
                                    Purchase
                                </div>
                                <div class="content-main">
                                    <i class="fas fa-rupee-sign"></i> 25,37,000
                                </div>
                            </div>
                        </div>
                        <div class="content-set">
                            <div class="content-icon sales">
                                <i class="fas fa-analytics"></i>
                            </div>
                            <div class="content-info">
                                <div class="content-title">
                                    Sales
                                </div>
                                <div class="content-main">
                                    <i class="fas fa-rupee-sign"></i> 2,34,78,160
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-inner">
                        <div class="card-header">
                            <div class="card-title">
                                Inventory
                            </div>
                            <div class="card-options">
                                
                            </div>
                        </div>
                        <div class="inventory-list">
                            <ul>
                                <li>
                                    <div class="list-icon start">
                                        
                                    </div>
                                    <div class="list-content">
                                        <div class="list-title-first">
                                            Instock
                                        </div>
                                        <div class="list-title-first">
                                            Dispatch
                                        </div>
                                    </div>  
                                </li>
                                <li>
                                    <div class="list-icon">
                                        250ml
                                    </div>
                                    <div class="list-content">
                                        <div class="list-title">
                                            5,66,785
                                        </div>
                                        <div class="list-title">
                                            5,66,785
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-icon">
                                        500ml
                                    </div>
                                    <div class="list-content">
                                        <div class="list-title">
                                            65,589
                                        </div>
                                        <div class="list-title">
                                            65,589
                                        </div>
                                    </div>
                                    
                                </li>
                                <li>
                                    <div class="list-icon">
                                        1Ltr.
                                    </div>
                                    <div class="list-content">
                                        <div class="list-title">
                                            5,589
                                        </div>
                                        <div class="list-title">
                                            5,589
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-icon">
                                        2Ltr.
                                    </div>
                                    <div class="list-content">
                                        <div class="list-title">
                                            7,486
                                        </div>
                                        <div class="list-title">
                                            7,486
                                        </div>
                                    </div>
                                    
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>