.badge
    min-height 36px
    min-width 124px
    border-radius border-radius
    text-align center
    border 1px solid
    border-color transparent
    color gray
    background transparent
    padding 10px 27px
    font-size 12px
    font-weight 500
    &.badge-pending
        color gray
        border-color gray
        background badge-bg
    &.badge-accepted
        color #c9a514
        border-color #c9a514
        background #fdfaec
    &.badge-completed
        color #06c270
        border-color #06c270
        background #f0fff8
    &.badge-rejected
        color #ff3b3b
        border-color #ff3b3b
        background #fff5f5
