.form-group
    margin-bottom 24px
    width 100%
    text-align left
    position relative
    label
        color gray
        font-size 14px
        margin-bottom 5px
    input
        border-color gray
        border-radius 4px
        border-width 1px
        border-style solid
        &::placeholder
            color gray
        &.form-control
            box-shadow none
            outline none
            height 60px
            border-radius 6px
            &.error
                border-color danger
                position relative                
    .error-text
        font-size 12px
        color danger
        font-weight 500
        &:before
            content "\f06a"
            display block
            position absolute
            color danger
            font-family "Font Awesome 5 Pro"
            font-weight 400
            right -35px
            bottom 35px
            font-size 20px