.custom-modal
    .modal-dialog
        max-width 467px
        border-radius 8px
        background white
        .modal-content
            border-radius 8px
            padding-bottom 48px
            .modal-header
                position relative
                text-align center
                border none
                justify-content center
                border-radius 8px
                padding 25px 20px
                .modal-title
                    font-size 16px
                    font-weight 600
                .modal-back
                    position absolute
                    left 10px
                    top 28px
                    .close
                        font-size 20px
                        color gray
            .modal-body
                padding 15px
                max-width 400px
                margin auto
                .modal-submit
                    margin-top 20px
                    text-align center
                    .btn
                        margin auto
